<h2>更新する</h2>
<%= form_with model: @task, local: true do |f| %>
    <p>タスク名： <%= f.text_field :name %></p>
    <p>期限： <%= f.date_select :time, 
    use_month_numbers: true  %></p>
    <%= f.submit "送信" %>
<% end %>
